<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="../templates/book.css" />

</head>
<body class="recto chapter-title">
<div class="pg">
<div class="shim">
&nbsp;
</div>
<div class="page-content">

<h2>Chapter <!-- chapter_number -->:</h2>
<h1><!-- chapter_title --></h1>

<div class="character-icon">
<!-- character_icon -->
</div>

<div class="opening-line">
This is <!-- character_name -->
</div>


</div>
</div>
</div>



</body>
</html>