<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="../templates/book.css" />

</head>
<body class="recto chapter-title">
<div class="pg">
<div class="shim">
&nbsp;
</div>
<div class="page-content">

<h2>Introduction</h2>

<div class="text-content">
<p>This is a book about <!-- house_count --> (<!-- character_names -->), <!-- people_count -->, and the many, many things that have something to do with these houses. Inside, you can see their pictures and imagine their adventures.</p>
<p>I created this book in November 2017 as my entry in "NaNoGenMo" (National Novel Generation Month), which is an event where people write computer programs that generate novels. To make this book, I wrote a program in the Python language that used information from <strong>ConceptNet.io</strong> and <strong>The Noun Project</strong> to figure out how certain words relate to each other and what they should look like.</p>
<p>All together, this book contains about <strong><!-- word_count --></strong> words!</p>
<p>You can find more detail and the complete source code at <u>github.com/zachwhalen/nngm17</u>. To learn more about me or get in touch, check out my website at <u>www.zachwhalen.net</u>.</p>
</div>

</div>
</div>




</body>
</html>