<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="../templates/book.css" />

</head>
<body class="frontcover">
<div class="pg">
<div class="shim">
&nbsp;
</div>

<div class="page-content">

<h1 id="book-title">
 <!-- book_title -->
</h1>

<h2>By Zach Whalen<br/>and contributors to<br/>ConceptNet and The Noun Project</h2>
</div>

<div class="page-number">CC BY 2017 | created for NaNoGenMo 2017</div>
</div>



</body>
</html>